$height: 90px;

html {
    //min-height: 100%;
}

body {
    background: #1E1E1E;
    color: #888888;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.slot {
    background: #000000;
    height: $height;

    border: 1px solid #555555;
    margin-left: -1px;
    margin-bottom: -1px;
}

.team {
    #slot1,
    #slot2,
    #slot3,
    #slot4,
    #slot5,
    #slot6 {
        background-image: url("../assets/bg_colors/none.jpg");
        background-repeat: no-repeat;
    }

    .ball {
        z-index: 2;
        width: 24px;
    }

    .sprite {
        max-width: 150px;
        max-height: $height;
        padding-left: 5px;
        padding-right: 5px;
    }

    .nickname,
    .level {
        z-index: 3;
        color: #FFFFFF;
        font-family: "PokemonGB";
    }

    .nickname {
        font-size: 30px;
    }

    .level {
        font-size: 12px;
    }
}


