body {
    background-color: #1E1E1E;
    font-size: 100%;
    color: #FFFFFF;
    font-family: "PokemonGB";
}

.team {
    // CSS Grid Stuff
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.slot {
    //background-color: #666666;
    height: 90px;

    border: 1px solid #555555;

    // CSSGrid stuff
    display: inline-grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-gap: 1px;
}

$bg-colours: (
    "black": #505050,
    "blue": #1E90FF,
    "brown": #A0522D,
    "gray": #778899,
    "green": #32CD32,
    "pink": #FF69B4,
    "purple": #8A2BE2,
    "red": #8B0000,
    "white": #F8F8FF,
    "yellow": #FFD700,
    "none": #333333
);

#slot1,
#slot2,
#slot3,
#slot4,
#slot5,
#slot6 {
    background-repeat: no-repeat;
    @each $name, $colour in $bg-colours {
        &.bg-#{$name} {
            background-image: linear-gradient(to right, $colour, rgba(0, 0, 0, 0) 75%);
        }
    }
}

.sprite {
    max-width: 125px;
    max-height: 85px;

    z-index: 10;

    // Flip it
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ball {
    z-index: 1;
}

.nickname {
    font-size: 2em;
}

.level {
    font-size: 0.7em;
}

.sprite-wrapper {
    display: inline-block;
    text-align: center;
    position: relative;

    background-image: url("../assets/sprite_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 90%;

    &:after {
        content: "";
        display: inline-block;
        height: 100%;
    }

    span.ball-wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.info-wrapper {
    position: relative;

    span.nickname {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    span.level {
        padding-top: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

// If the user wants to stagger the way that the slots are facing
body.stagger {
    .team {
        #slot2,
        #slot4,
        #slot6 {
            .sprite {
                // Flip it back
                -moz-transform: scaleX(1);
                -o-transform: scaleX(1);
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                filter: "";
                -ms-filter: "";
            }
        }

        .slot {
            grid-template-columns: 4fr 1fr;
        }
    }
}
