body {
    min-width: 730px;
    min-height: 570px;

    font-size: 100%;
    color: #FFFFFF;
    font-family: "PokemonGB";

}

.team {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.slot {
    height: 90px;

    display: inline-grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-gap: 1px;
}

$bg-colours: (
    "black": #505050,
    "blue": #1E90FF,
    "brown": #A0522D,
    "gray": #778899,
    "green": #32CD32,
    "pink": #FF69B4,
    "purple": #8A2BE2,
    "red": #8B0000,
    "white": #F8F8FF,
    "yellow": #FFD700,
    "none": #333333
);

#slot1,
#slot2,
#slot3,
#slot4,
#slot5,
#slot6 {
    background-repeat: no-repeat;
    @each $name, $colour in $bg-colours {
        &.bg-#{$name} {
            background-image: linear-gradient(to right, $colour, rgba(0, 0, 0, 0) 75%);
        }
    }
}

.sprite {
    max-width: 125px;
    max-height: 85px;

    z-index: 10;

    // Flip it
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ball {
    z-index: 1;
}

.nickname {
    font-size: 2em;
}

.level {
    font-size: 0.7em;
}

.sprite-wrapper {
    display: inline-block;
    text-align: center;
    position: relative;

    background-image: url("../assets/sprite_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 90%;

    &:after {
        content: "";
        display: inline-block;
        height: 100%;
    }

    span.ball-wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.info-wrapper {
    position: relative;

    .nickname {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .level {
        padding-top: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

// If the user wants to stagger the way that the slots are facing
body.stagger {
    .team {
        #slot2,
        #slot4,
        #slot6 {
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1);
            -ms-filter: fliph; /*IE*/
            filter: fliph; /*IE*/

            .info-wrapper, {
                -moz-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                transform: scaleX(-1);
                -ms-filter: fliph; /*IE*/
                filter: fliph; /*IE*/

                position: relative;
            }

            .ball-wrapper {
                -moz-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                transform: scaleX(-1);
                -ms-filter: fliph; /*IE*/
                filter: fliph; /*IE*/
            }

            .nickname {
                position: absolute;
                bottom: 0;
                right: 0;
                left: auto;
            }

            .level {
                padding-top: 5px;
                position: absolute;
                top: 0;
                right: 0;
                left: auto;
            }
        }
    }
}

body.compact,
body.single {
    overflow: hide;

    .nickname {
        display: none;
    }

    .level {
        display: none;
    }

    .slot {
        display: inline-grid;
        grid-template-columns: auto 0px;
        grid-template-rows: auto;
        grid-gap: 1px;
    }

    #slot1,
    #slot2,
    #slot3,
    #slot4,
    #slot5,
    #slot6 {
        background-repeat: no-repeat;
        @each $name, $colour in $bg-colours {
            &.bg-#{$name} {
                background: $colour;
            }
        }
    }

    .sprite {
        max-width: 125px;
        max-height: 85px;
    }
}

body.compact {
    min-width: 290px;
    min-height: 300px;

    .team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

body.single {
    min-width: 855px;
    min-height: 570px;

    .team {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
